// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/newsletter';
@import '../../hubs/sub-nav';
@import '../../hubs/cards';
@import '../../hubs/buttons';

$grey: #ddd;

@mixin greyBox() {
    @include border-box();
    background: $grey;
    margin: 20px;
    padding: 20px;
}

#hub-content {
    @include zilla-slab;

    .form-button,
    .form-contents,
    .form-submit,
    .fx-privacy-link a {
        @include open-sans();
    }

    .fx-privacy-link a {
        color: #0081ad;
    }
}

.page-section {
    .content {
        &:before {
            @include gradient-horizontal($start-color: #69B9D0, $end-color: #9a4229);
            border: 0;
            content: '';
            display: block;
            height: 6px;
            margin: 0;
            min-width: 0;
            padding: 0;
            width: 100%;
        }
    }

    &:first-child .content:before {
        height: 10px;
    }
}

.content {
    @media #{$mq-tablet} {
        padding-left: 0;
        padding-right: 0;
    }
}

/* -------------------------------------------------------------------------- */
// Intro

#intro {
    padding-top: 20px;

    h1 {
        @include font-size-huge;
        text-transform: lowercase;

        span {
            color: #fff;
            background: #000;
            padding: 0 3px;
        }
    }

    p {
        @include font-size-level2;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
    }
}

#download-intro-wrapper {
    display: none;
}

/* -------------------------------------------------------------------------- */
// Features

#features {
    padding-top: 20px;
}

#private.featured-image-card {
    background-image: url('/media/img/firefox/hub/texture-private.jpg');
}

#modern.featured-image-card {
    background-image: url('/media/img/firefox/hub/texture-modern.jpg');
}

#independent.featured-image-card {
    background-image: url('/media/img/firefox/hub/texture-independent.jpg');
}

/* -------------------------------------------------------------------------- */
// Mobile

#mobile-card {
    .card-content-wrapper {
        background-image: url('/media/img/firefox/hub/mobile-large.jpg');
        background-size: 100%;
    }

    @media #{$mq-tablet} {
        .card-content-wrapper {
            @include at2x('/media/img/firefox/hub/mobile-large.jpg', 100%, auto);
        }
    }

    @media #{$mq-desktop-wide} {
        .card-content-wrapper {
            background-image: url('/media/img/firefox/hub/mobile-large-high-res.jpg');
        }
    }
}

#newsletter-form {
    input[type="email"] {
        width: 100%;
    }

    #form-details {
        padding-top: 20px;
    }

    button[type="submit"] {
        margin-top: 20px;
    }
}

@supports (display: grid) {
    @media #{$mq-tablet} {
        #intro {
            display: grid;
            grid-gap: 20px;
            grid-template: 1fr / 2fr 1fr;
        }

        #download-intro-wrapper {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        #features {
            display: grid;
            grid-gap: 20px;
            // two columns of equal size / 2 rows of equal size
            // grid-template: 1fr 1fr / 1fr 1fr; // equivalent to line below
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            // create a named area 'image-card' that spans two columns in the first row
            // _______________________
            // | image-card | card-2 |
            // |            |--------|
            // |            | card-3 |
            // _______________________
            //
            grid-template-areas: 'image-card card-2'
                                 'image-card card-3';

            .card {
                &:first-child {
                    grid-area: image-card; // stick the first .card in the 'image-card' grid template area
                }

                &:nth-child(2) {
                    grid-area: card-2;
                }

                &:nth-child(3) {
                    grid-area: card-3;
                }
            }
        }
    }
}
